spring:
  data:
    mongodb:
      uri: mongodb+srv://${env.MONGO_USER}:${env.MONGO_PASSWORD}@${env.MONGO_CLUSTER}/?retryWrites=true&w=majority
      database: ${env.MONGO_DATABASE}
  application:
    security:
      jwt:
        secret-key: ${env.JWT_SECRET_KEY}
        expiration: 86400000
        refresh-token:
          expiration: 604800000
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${env.GOOGLE_CLIENT_ID}
            client-secret: ${env.GOOGLE_CLIENT_SECRET}
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
          github:
            client-id: ${env.GITHUB_CLIENT_ID}
            client-secret: ${env.GITHUB_CLIENT_SECRET}
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - public_profile
              - user:email
  mail:
    host: smtp.gmail.com
    port: 587
    username: mishamakytonin@gmail.com
    password: ${env.MAIL_PASSWORD}
    properties:
      smtp:
        auth: true
        starttls:
          enable: true
logging:
  level:
    org.springframework.security: trace
